@font-face {
    font-family: 'signikaregular';
    src: url('/fonts/signika-regular-webfont.woff2') format('woff2'), url('/fonts/signika-regular-webfont.woff') format('woff'), url('/fonts/Signika-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'signikaregular', sans-serif;
    box-sizing: content-box;
}

[data-visibility="invisible"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
}

[data-visibility="visible"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: visible;
}


/*----------++++++++++---------- TAGS ----------++++++++++----------*/

body {
    margin: 0;
    padding: 0;
}

img {
    position: absolute;
    width: 1.5rem;
    top: calc(50% - 0.75rem);
    left: calc(50% - 0.75rem);
}

p {
    text-align: center;
}

#new-exercise-form {
    display: block;
    position: fixed;
    z-index: 2000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

#exercise-form-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#add-exercise-form {
    border: 1px solid black;
    width: 20%;
    font-size: 1.5rem;
    margin-top: 20px;
}

#exercise-form-content>p,
input {
    margin: 0px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#alert {
    position: fixed;
    top: 20%;
    right: 10%;
    bottom: 20%;
    left: 10%;
    z-index: 2000;
    background-color: #fff;
}


/*----------++++++++++---------- CLASSES ----------++++++++++----------*/


/*-----GENERAL-----*/

.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-position: center;
}

.button-container {
    width: 50vw;
    height: 15vh;
    margin: 0;
    padding: 0;
}

.button-text {
    margin: auto;
    font-size: 1.5rem;
    width: 100%;
    vertical-align: middle;
}

.main-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
}


/*-----MENU-----*/

.main.menu {
    background: black url('/img/MainMenuBg.png') no-repeat scroll;
    border: 1rem solid rgba(191, 147, 115, 0.82);
}

.menu .main-button {
    background-color: rgba(24, 25, 24, 0.7);
}

.menu .button-text {
    color: rgb(216, 190, 55);
}


/*-----PLANS-----*/

.main.plans {
    background: black url('/img/PlansBg.png') no-repeat scroll;
    border: 1rem solid rgba(253, 107, 0, 0.97);
}

.plans .main-button {
    background-color: rgba(158, 151, 140, 0.7);
}

.plans .button-text {
    color: rgb(5, 1, 66);
}


/*-----EXERCISES-----*/

.main.exercises {
    box-sizing: border-box;
    background: black url('/img/ExercisesBg.png') no-repeat scroll;
    border: 1rem solid rgb(51, 231, 137);
    justify-content: flex-start;
    overflow: scroll;
    position: relative;
}

.exercises-menu {
    width: 100%;
    min-height: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ffffe096;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.exercise {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    min-height: 8%;
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #ffffe096;
    border: 1px solid black;
    font-size: 1.1rem;
}

.exercises .main-button {
    background-color: transparent;
}

.row {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.name {
    width: 33%;
    margin-left: 2%;
    position: relative;
    min-height: 100%;
    padding: 17.6px 0;
}

.name>p {
    width: 100%;
    position: absolute;
    left: 0;
    margin: 0;
    min-height: calc(100% - 35.2px);
}

.series {
    width: 15%;
}

.reps {
    width: 15%;
}

.weight {
    width: 20%;
}

.misc {
    width: 15%;
    position: relative;
}

.add-exercise {
    width: 20%;
    text-align: center;
    background-color: #bfffcc99;
}

.sort-exercises {
    width: 20%;
    text-align: center;
    background-color: #bfffcc99;
}

.go-back {
    width: 20%;
    text-align: center;
    background-color: #bfffcc99;
}

.form-input {
    border: 1px solid black;
    width: 60%;
}


/*----------++++++++++---------- EVENTS ----------++++++++++----------*/

.menu .main-button:hover {
    background-color: rgb(216, 190, 55);
}

.menu .main-button:hover .button-text {
    color: rgba(24, 25, 24, 0.7);
}

.menu .main-button:active {
    margin-top: 2px;
    margin-left: 2px;
}

.plans .main-button:hover {
    background-color: rgb(5, 1, 66);
}

.plans .main-button:hover .button-text {
    color: rgba(158, 151, 140, 0.7);
}

.plans .main-button:active {
    margin-top: 2px;
    margin-left: 2px;
}

.exercises .main-button:active {
    padding-top: 2px;
    padding-left: 2px;
}

.exercises .main-button:active img {
    margin-top: 2px;
    margin-left: 2px;
}