.main {
    &.exercises {
        justify-content: flex-start;
        overflow: auto;
        .exercises-menu {
            width: 100%;
            min-height: 75px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: #fde2b6cc;
            border: 1px solid black;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            .button-container {
                width: 20%;
                text-align: center;
                background-color: #fffdbf99;
                height: auto;
            }
        }
        .button {
            height: 75px;
            &:active {
                padding-top: 2px;
                padding-left: 2px;
                img {
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }
        .exercise {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            width: 100%;
            min-height: 10%;
            position: relative;
            margin: 0;
            padding: 0;
            background-color: #ffffffcc;
            border: 1px solid black;
            font-size: 1.1rem;
            &.exercise-legend {
                background-color: #fde2b6cc;
            }
            .row {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-left: 2%;
                position: relative;
                min-height: 100%;
                height: 50px;
                padding: 1% 0;
                &.name {
                    width: 33%;
                }
                &.series {
                    width: 15%;
                }
                &.reps {
                    width: 15%;
                }
                &.weight {
                    width: 20%;
                }
                &.misc {
                    width: 15%;
                    position: relative;
                }
            }
        }
    }
}

#exercises-wrapper {
    width: 100%;
}