.main {
    &.menu {
        .about {
            @extend .alert;
            top: 10%;
            right: 25%;
            bottom: 10%;
            left: 25%;
            justify-content: flex-start;
            padding: 20px;
            .content {
                overflow-y: auto;
                width: 100%;
                height: calc(100% - 70px);
            }
            .button {
                height: 50px;
                width: 100px;
                position: absolute;
                left: calc(50% - 50px);
                bottom: 20px;
            }
        }
    }
}