.main {
    &.plan-details {
        justify-content: flex-start;
        overflow: auto;
        .header {
            width: 100%;
            background-color: #ffffe096;
            border: 1px solid black;
            &.description {
                font-size: 1rem;
            }
        }
        .exercises-menu {
            width: 100%;
            min-height: 7%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: #ffffe096;
            border: 1px solid black;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            .button-container {
                width: 20%;
                text-align: center;
                background-color: #fffdbf99;
                height: auto;
            }
        }
        .button {
            &:active {
                padding-top: 2px;
                padding-left: 2px;
                img {
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }
        .exercise {
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            width: 100%;
            min-height: 8%;
            position: relative;
            margin: 0;
            padding: 0;
            background-color: #ffffe096;
            border: 1px solid black;
            font-size: 1.1rem;
            .row {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin-left: 2%;
                position: relative;
                min-height: 100%;
                padding: 17.6px 0;
                &.name {
                    width: 33%;
                }
                &.series {
                    width: 15%;
                }
                &.reps {
                    width: 15%;
                }
                &.weight {
                    width: 20%;
                }
                &.misc {
                    width: 15%;
                    position: relative;
                }
            }
        }
    }
}

#plan-exercises-wrapper {
    width: 100%;
}

#add-selected-exercises {
    background-color: white;
    height: 5vh;
    margin: 0;
}