.main {
    &.plans {
        overflow: auto;
        flex-wrap: wrap;
        align-items: center;
        .button-container {
            width: 35vw;
            .button {
                background-color: rgba(175, 168, 158, 0.788);
                p {
                    &.button-text {
                        color: black;
                    }
                }
                &:hover {
                    background-color: rgb(5, 1, 66);
                    .button-text {
                        color: rgba(158, 151, 140, 0.7);
                    }
                }
                &:active {
                    margin-top: 2px;
                    margin-left: 2px;
                }
            }
        }
    }
}

#form-plan-name {
    flex-grow: 0;
}

#form-plan-description {
    flex-grow: 0;
    height: 25vh;
    margin-bottom: 20px;
    font-size: $font-size-regular;
}